<li class="cf-nav-shortcut">
    <a target="_blank" href="//backstage.uchikoma.xyz/">
	    <span class="cf-nav-min"><i class="fa fa-2x fa-leaf"></i></span>
	    <span class="cf-nav-max">Django Admin</span>
    </a>
</li>
<li class="cf-nav-shortcut">
    <a target="_blank" href="//backstage.uchikoma.xyz/queue/">
	    <span class="cf-nav-min"><i class="fa fa-2x fa-cogs"></i></span>
	    <span class="cf-nav-max">Redis Queue</span>
    </a>
</li>
<li class="cf-nav-shortcut">
    <a target="_blank" href="//backstage.uchikoma.xyz/sql/">
	    <span class="cf-nav-min"><i class="fa fa-2x fa-database"></i></span>
	    <span class="cf-nav-max">SQL Explorer</span>
    </a>
</li>
<li class="cf-nav-shortcut">
    <a target="_blank" href="//backstage.uchikoma.xyz/mongo/">
	    <span class="cf-nav-min"><i class="fa fa-2x fa-database"></i></span>
	    <span class="cf-nav-max">MongoDB Manager</span>
    </a>
</li>
<li class="cf-nav-shortcut">
    <a target="_blank" href="//backstage.uchikoma.xyz/report/">
	    <span class="cf-nav-min"><i class="fa fa-2x fa-bug"></i></span>
	    <span class="cf-nav-max">Report Builder</span>
    </a>
</li>

