<li><a href="{% url 'homepage' subdomain='ops' %}">Homepage</a></li>
<li><a href="{% url 'metalogy__operatingsystem__listing' subdomain='ops' %}">Operating systems</a></li>
<li><a href="{% url 'metalogy__distributions__listing' subdomain='ops' %}">Distributions</a></li>
<li><a href="{% url 'metalogy__serving__listing' subdomain='ops' %}">Application servers</a></li>
<li><a href="{% url 'metalogy__platforms__listing' subdomain='ops' %}">Platforms</a></li>
<li><a href="{% url 'basis__virtuose__listing' subdomain='ops' %}">(*) Virtual servers</a></li>
<li><a href="{% url 'basis__vhosting__listing' org='all' subdomain='ops' %}">(*) Hosted application</a></li>
