{% extends "layouts/blank.html" %}

{% block page %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Repositories <small>Git, mainly</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <span class="input-group-btn">
                        <a class="btn btn-default" href="{% url 'homepage' subdomain='dev' %}">
                          <i class="fa fa-refresh"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">#</th>
                        <th style="width: 20%">Project Name</th>
                        <th>Team Members</th>
                        <th>Project Progress</th>
                        <th>Status</th>
                        <th style="width: 20%">#Edit</th>
                    </tr>
                </thead>
                <tbody>
{% for repo in listing %}
                    <tr>
                        <td>{{ repo.owner }} / {{ repo.slug }}</td>
                        <td>
                            <a>{{ repo.created_at }}</a>
                            <br />
                            <small>Created {{ repo.created_at }}</small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>
                                    <img src="{% static 'images/img.jpg' %}" class="avatar" alt="Avatar">
                                </li>
                                <li>
                                    <img src="{% static 'images/img.jpg' %}" class="avatar" alt="Avatar">
                                </li>
                                <li>
                                    <img src="{% static 'images/img.jpg' %}" class="avatar" alt="Avatar">
                                </li>
                                <li>
                                    <img src="{% static 'images/img.jpg' %}" class="avatar" alt="Avatar">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                            </div>
                            <small>57% Complete</small>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-xs">Success</button>
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                        </td>
                    </tr>
{% empty %}
                    <tr>
                        <td colspan="6">No repositories found.</td>
                    </tr>
{% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block app %}
{% endblock %}
